# Python
venv/
__pycache__/
*.pyc
mlflow.db

# Models & Artifacts
backend/artifacts/
backend/app/ml_pipeline/mlruns/

# Data
backend/data/
*.csv

# Environment
.env

# Frontend
frontend/node_modules/
frontend/.next/

antenv/
backend/antenv/